/* Copied from https://github.com/Team-Sass/Singularity/wiki/Creating-Grids#responsive-grids*/
// @include add-grid(3);
// @include add-grid(6 at 500px);
// @include add-grid(12 at 700px);
// @include add-grid(2 8 2 at 900px);
// @include add-grid(1 3 5 7 9 at 1100px);

// @include add-gutter(1/3);
// @include add-gutter(.25 at 900px);
@include add-grid(12);
// @include add-grid(1 7 3 1 at $normal);
@include add-grid(16 at $normal);
@include add-gutter(1/12);
// @include add-gutter(1/6 at $normal);
@include add-gutter(1/16 at $normal);
// @include add-gutter-style(split);

.pane-page-logo{
	@include breakpoint($normal){
		margin-top: 1.5em;
	}
}
#logo{
	// @include breakpoint($normal){
		@include grid-span(1, 2);
	// }


	float: none;
	img{
		display: block;
		// margin: 1em auto 0;
		// @include breakpoint($normal){
		// 	margin: 3em auto 0;
		// }
		margin: 0 auto;
		max-width: 200px;
		height: auto;
	}
}

.aurora-sample-section{
	clear: both;
}
.aurora-section-first{
	
	@include grid-span(10, 2);
	clear: both;
	@include breakpoint($normal){
		// @include grid-span(2, 2);
		@include grid-span(14, 2);
	}
}
// #main
.aurora-section-second{
	

	@include grid-span(10, 2);
	clear: both;
	@include breakpoint($normal){
		// @include grid-span(2, 2);
		@include grid-span(14, 2);
		margin-top: 15.5em;
	}

}

.aurora-section-third{
	@include grid-span(10, 2);
	clear: both;
	@include breakpoint($normal){
		// @include grid-span(2, 2);
		@include grid-span(14, 2);
		clear: both;
	}
	
}

.blog-post,
#webform-wrapper,
.pane-node-webform{
	@include grid-span(10, 2);
	@include breakpoint($normal){
		// clear: both;
		@include grid-span(9, 2);
		// clear: both;
	}

	.form-text{
		max-width: 100% !important;
	}
}

.pane-views-work-sample-block,
.pane-views-blog-block-1,
// .pane-node-body,
.pane-node-content,
.pane-node-comment-form{
	@include grid-span(10, 2);
	@include breakpoint($normal){
		// @include grid-span(1, 2);
		@include grid-span(9, 2);
		// clear: both;
	}
	.views-row{
		padding-bottom: 1em;
	}
}

#footer{
	@include grid-span(12);

	@include breakpoint($normal){
		// @include grid-span(2, 2);
		@include grid-span(14, 2);
		clear: both;	
		
	}
	clear: both;
}

// Superfish Menu
.pane-superfish-1{
	display: none;
	@include breakpoint($normal){
		display: block;
		// @include grid-span(2, 2);
		@include grid-span(14, 2);
	}
	.content{
		margin: 0 auto;
	}
}

// Responsive Dropdown Menu
.pane-responsive-dropdown-menus-main-menu{
	display: block;
	@include grid-span(10, 2);
	.toggle-help{
		width: 10em;
	}
	@include breakpoint($normal){
		display: none;
	}
	#main-menu{
		li{
			a:hover{
				// background: blue;
			}
		}
	}
}

// Mean Menu
.mean-container {
	.mean-bar{
		display: block;
		margin: 0 auto;
		float: none;
		background: $jhm-red;

		.mean-nav{
			background: $jhm-red;
			margin-bottom: 1em;
		}

		
	}
}


// FB Like Box (from Drupal module)
#static-fb-like-button{
	// background: black;
	@include breakpoint($narrow){
		display: none;
	}

	@include breakpoint($normal){
		display: block;
		// width: 30em;
		width: 450px;
		margin: 0 auto;

		.pane-content {
			padding-top: 1em;
			width: 27em;
			margin: 0 auto;
		}
	}
}


// Small FB like box (mobile only)
#small-fb-like-box{
	// @include grid-span(12, 1);
	@include breakpoint($narrow){
		display: block;

		// .content{
			width: 181px;
			margin: 0 auto;
		// }
	}
	@include breakpoint($normal){
		display: none;
	}
}


// Recent Blog View
#recent-blog-view{
	// clear: both;
	@include grid-span(10, 2);
	clear: both;
	text-align: left;
	@include breakpoint($normal){
		// @include grid-span(1, 3);
		@include grid-span(4, 12);
		// padding-left: 1.5em;
	}
	.views-field-created{
		padding-left: 1em;
		padding-bottom: 0.5em;
		font-style: italic;
	}
}

// Recent Blog View variant b/c the Work Sample view can suck a fat one
#recent-blog-view-work-sample{
	// clear: both;
	display: none;
	clear: both;
	text-align: left;
	@include breakpoint($normal){
		// @include grid-span(1, 3);
		display: block;
		@include grid-span(4, 12);
		// padding-left: 1.5em;
	}
	.views-field-created{
		padding-left: 1em;
		padding-bottom: 0.5em;
		font-style: italic;
	}
}

// Mobile version of the Recent Blog View just b/c the Work Sample view can suck a fat one
#recent-blog-view-work-sample-mobile{

	@include grid-span(10, 2);
	clear: both;
	text-align: left;
	display: block;
	margin-left: 0;
	@include breakpoint($normal){
		display: none;
	}
	.views-field-created{
		padding-left: 1em;
		padding-bottom: 0.5em;
		font-style: italic;
	}
}


// Comment
.comment {
	padding-left: 2em;
	font-size: 90%;

	.submitted{
		margin: 0;
		font-style: italic;
	}
}

.field-author,
.field-post-date{
	font-style: italic;
}

.field-tags{
	padding: 0.25em;
	float: left;
	a{
		color: white;
		background: $jhm-red;
		padding: 0.5em;
		text-decoration: none;
		font-size: 90%;
		&:hover{
			background: $jhm-accent;
			color: $jhm-link-hover;
		}

	}
}

.pane-node-comments{
	.pane-title{
		clear: both;
		padding-top: 1em;
	}
}

.field-screenshot{
	float: left;
	padding-right: 1em;
}

.field-node-link{
	clear: both;
	float: right;
}